body {
    background: #eee;
    font-family: sans-serif;
    margin: 0 auto;
    background: linear-gradient(45deg, #fff, #ddd);
    margin:0;
    min-height: 100vh;
}

.list-title {
    font-weight: normal;
    font-size: 2rem;
    color: #df405a;
    text-align: center;
}

.list {
    text-align: left;
    max-width: 1300px;
    margin: 30px auto;
    padding: 0 20px;
    list-style: none;
}

.list li {
    padding: 20px;
    border-radius: 3px;
    background: #df405a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.list li:nth-of-type(2n) {
    background: #87314e;
}

.list .holiday-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    margin-top:0;
    margin-bottom:10px;
}

.list .holiday-date {
    font-weight: normal;
    color: rgba(255,255,255,0.6);
    display: block;
}